.pes-search {
    border: 1px solid black;
    border-radius: 30px;
    border: solid 1px $pinkishGrey;
    padding-left: 18px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;

    &__input {
        border: none;
        outline: none;
        flex-grow: 1;

        font-size: 14px;
    }

    &__icon {
        padding-top: 3px;
    }
}