.days-board {
	border: 1px dotted gray;
    padding-bottom: 10px;
}

.days-board:after {
	content: "";
	display: block;
	clear: both;
}

.day-card {
	background: gray;
	margin-bottom: 10px;
	margin-right: 10px;
	
	width: 200px;
	
	display: block;
	float: left;
}

.day-card__header {
	background: red;
}

.day-card__category {
	margin: 5px;
	background: seashell;

    position: relative;
}

.day-card__add-category {
    cursor: pointer;   
}

.day-card__item {
	padding-left: 5px;
    position: relative;

    padding-right: 40px;
    margin-right: 10px;
}

.day-card__add-item {
	background: silver;
    cursor: pointer;
}

.day-card__item:before {
	content: "> ";
}


.add-day:after {
    content: "+";
    color: green;
    font-size: 60px;
    font-weight: bold;
    display: block;
}

.add-day {
    width: 200px;
    height: 130px;
    padding-top: 70px;
    text-align: center;
    color: green;
    border: 3px dotted green;
    background-color: #DDF7DD;
    float: left;
    display: block;
    cursor: pointer;
}

.clear-board {
    display: block;
    margin-bottom: 10px;
}

.day-card__category-name {
    border-bottom: 1px solid gray;
    padding-right: 40px;
}

.day-card__delete-category,
.day-card__delete-item  {
    width: 12px;
    height: 12px;

    display: block;

    position: absolute;
    top: 2px;
    right: 2px;


    cursor: pointer;
}

.day-card__edit-category:before,
.day-card__edit-item:before {
    content: "E";

    width: 12px;
    height: 12px;

    position: absolute;
    top: 0;
    right: 20px;

    cursor: pointer;
}