@import '../../node_modules/reset-css/_reset';
@import 'colors';
@import 'fonts';

html {
    font-family: $primaryFont;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.full-height {
    height: 100%;
}

.pes-row {
    padding-left: 16px;
    padding-right: 16px;
}

.pes-transparent-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}