.swiper-container {
   min-height: 100%;
   border: 1px solid black;
}

.swiper-slide {
    box-sizing: border-box;
    padding: 10px;
    height: auto;
    min-height: 100%;
}

.pes-meal {
    display: flex;
    height: 50px;
    border-radius: 2px;
    background-color: #eaf2f0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;

    &__divider {
        width: 8px;
        height: 50px;
        border-radius: 2px;
        background-color: #bd0fe1;
    }

    &__remove-button {
        background: none;
        outline: none;
        border: none;
        color: #f36f69;
        cursor: pointer;
        margin-right: 5px;
    }

    &__recipe-name {
        margin-left: 10px;
        font-size: 18px;
        padding-top: 15px;
        flex-grow: 1;

        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        text-align: left;
    }
}

.meal-planner {

    &__header {
        background-color: $paleGrey;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    &__selected-day {
        text-align: center;
        flex-grow: 1;
    }

    &__day-navigation--hidden {
        visibility: hidden;
    }
}




.day-header {
    display: flex;
    margin-bottom: 10px;
    height: 60px;
    background-color: #f3f4f6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.day-title {
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
}

.prev-day,
.next-day {
    background: none;
    outline: none;
    border: none;
    color: rgba(73, 73, 73, 0.6);
    cursor: pointer;
}

.navigation-menu {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: #c7d3d0;
    z-index: 100;
}

.nav-item {
    cursor: pointer;
    outline: 0;
    background: none;
    flex-grow: 1;
    text-align: center;
    border: 1px solid gray;
    z-index: 100;
}

.pes-day-planned-placeholder {
    text-align: center;

    &__title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    &__image {
        max-width: 550px;
        width: 100%;
    }
}

.pes-meal-planner-container {
    &__calendar-wrapper {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    &__calendar-label {
        font-size: 24px;
        white-space: nowrap;
        line-height: 1.3;
        margin-right: 10px;
    }

    &__datepicker {
        width: 150px;
    }
}

.swiper-slide {
    height: 100% !important;
}

.pes-add-meal {
    &__existing-recipe-add-button {
        text-align: right;
        margin-top: 10px;
    }
}