.pes-form-group {
    margin-bottom: 30px;
}

.pes-form-textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid $pinkishGrey;
    margin-top: 5px;
    padding: 8px 10px;
    font-family: $primaryFont;
}

.pes-form-input {
    @extend .pes-form-textarea;
    height: 35px;
}

.pes-form-label {
    margin-bottom: 10px;
}

