.pes-button {
    height: 40px;
    min-width: 100px;
    background-color: $coolGrey;
    color: $white;
    border: solid 1px $warmGrey;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    @include font-light-bold();
}

.pes-button--ghost-button {
    background-color: $white;
    color: $charcoalGrey;
}

.pes-icon-button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}