@import '../../layout/fonts';


.pantry {
    &__lists {
        margin-left: 16px;
    }

    &__list-title {
        @include font-bold();
        font-size: 16px;
        letter-spacing: 2.24px;
        margin-bottom: 10px;
    }

    &__item {
        position: relative;
        margin-bottom: 20px;
        margin-left: 2px;
    }

    &__item-img {
        width: 125px;
        height: 80px;
        background-color: #c7d3d0;
        display: inline-block;
    }

    &__item-details {
        position: absolute;
        top: 12px;
        left: 140px;
    }

    &__item-name {
        @include font-bold();
        font-size: 14px;
        letter-spacing: 1.96px;
        margin-bottom: 6px;
    }

    &__item-expiration {
        font-size: 14px;
        letter-spacing: 1.96px;
    }
}

.add-pantry-item {
    width: 70px;
    height: 35px;
    margin-top: -18px;
    background-color: #8e9e99;
    border-radius: 4px;
    font-size: 32px;

    // TODO: check with the designer about the outline
    // outline: 0;
}

.pantry-add-item {
    &__form-group {
        margin-bottom: 10px;
        margin-left: 24px; 
        margin-right: 24px;       
    }

    &__form-label {
        margin-bottom: 10px;
    }

    &__form-input {
        width: 100%;
        box-sizing: border-box;
    }
}