/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

.full-height {
  height: 100%; }

.top-bar {
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  background-color: #737b79; }
  .top-bar__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 45px;
    padding-top: 7px; }
  .top-bar__side {
    position: absolute;
    cursor: pointer;
    color: white;
    border: 0;
    top: 50%;
    margin-top: -10px;
    font-size: 16px; }
  .top-bar__side--left {
    left: 15px; }
  .top-bar__side--right {
    right: 15px; }
  .top-bar__add-button {
    font-size: 14px;
    color: #ffffff;
    line-height: 14px;
    height: 35px;
    margin-top: -18px;
    background-color: #8e9e99;
    border-radius: 4px;
    padding-left: 26px;
    padding-right: 9px; }
  .top-bar__add-button::before {
    content: '+';
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 10px; }

.login__error-msg {
  padding-top: 10px;
  color: red; }
.login__error-msg--hidden {
  display: none; }

.registration__error-msg {
  padding-top: 10px;
  color: red; }
.registration__error-msg--hidden {
  display: none; }

.pantry__list-title {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2.24px;
  margin-bottom: 10px;
  padding-left: 14px; }
.pantry__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 16px; }
.pantry__item-img {
  width: 125px;
  height: 80px;
  background-color: #c7d3d0;
  display: inline-block; }
.pantry__item-details {
  position: absolute;
  top: 0;
  left: 156px; }
.pantry__item-name {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.96px;
  margin-top: 3px; }
.pantry__item-expiration {
  font-size: 14px;
  letter-spacing: 1.96px;
  margin-top: 6px; }
.pantry__item-actions {
  margin-top: 10px;
  margin-left: 5px; }
.pantry__item-action {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  cursor: pointer; }

.pantry-item__form-group {
  margin-bottom: 30px;
  margin-left: 24px;
  margin-right: 24px; }
.pantry-item__form-label {
  margin-bottom: 10px; }
.pantry-item__form-input {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border-radius: 3px;
  border: 1px solid darkslategrey;
  margin-top: 5px;
  padding: 8px 10px; }
.pantry-item__form-input--datepicker {
  padding: 0; }
  .pantry-item__form-input--datepicker input {
    margin-top: 4px;
    vertical-align: top;
    width: calc(100% - 40px);
    height: 25px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 5px; }
  .pantry-item__form-input--datepicker button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    background: transparent;
    border: 0;
    outline: 0; }
    .pantry-item__form-input--datepicker button img {
      width: 25px;
      height: 25px;
      margin-top: 3px; }

.pantry-page-container {
  position: relative;
  height: 100%; }

.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(115, 123, 121, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

.pantry-remove-item {
  background: #ffffff;
  height: 210px;
  width: 290px;
  position: absolute;
  top: 50%;
  margin-top: -105px;
  left: 50%;
  margin-left: -145px;
  border: 2px solid #f3f4f6; }
  .pantry-remove-item__container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 48px; }
  .pantry-remove-item__title {
    font-size: 16px;
    letter-spacing: 2.24px;
    text-align: center;
    font-weight: bold;
    color: #323f40;
    margin-bottom: 50px; }
  .pantry-remove-item__buttons {
    text-align: center; }
  .pantry-remove-item__button {
    height: 40px;
    width: 100px;
    border-radius: 4px;
    border-color: #979797;
    border-width: 1px;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 2.24px;
    text-align: center;
    font-weight: bold;
    color: #323f40; }
  .pantry-remove-item__button--gray {
    background-color: #e8e8e8; }

.my-recipe {
  padding: 16px; }
  .my-recipe__recipe-name, .my-recipe__ingredients {
    margin-bottom: 20px; }
  .my-recipe__recipe-name-input {
    display: block;
    width: 100%; }
  .my-recipe__preparation-textarea {
    display: block;
    width: 100%; }

/*# sourceMappingURL=App.css.map */
