/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Roboto", sans-serif;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

.full-height {
  height: 100%; }

.row {
  padding-left: 16px;
  padding-right: 16px; }

.pes-button {
  height: 40px;
  min-width: 100px;
  background-color: #8e9e99;
  color: #ffffff;
  border: solid 1px #979797;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 500; }

.pes-button--ghost-button {
  background-color: #ffffff;
  color: #323f40; }

.pes-form-group {
  margin-bottom: 30px; }

.pes-form-textarea, .pes-form-input, .ingredients__item-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  margin-top: 5px;
  padding: 8px 10px;
  font-family: "Roboto", sans-serif;
  outline: none;
  resize: none; }

.pes-form-input, .ingredients__item-input {
  height: 35px; }

.pes-form-label {
  margin-bottom: 10px; }

.pes-modal-overlay {
  background-color: rgba(50, 63, 64, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pes-modal {
  background: #ffffff;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 2px;
  border: solid 1px #979797;
  outline: none; }
  .pes-modal__title {
    font-size: 16px;
    letter-spacing: 2.24px;
    text-align: center;
    font-weight: bold;
    color: #323f40;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px; }
  .pes-modal__buttons {
    text-align: center; }
  .pes-modal__buttons *:not(:last-child) {
    margin-right: 20px; }

.top-bar {
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  background-color: #737b79; }
  .top-bar__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 45px;
    padding-top: 7px; }
  .top-bar__side {
    position: absolute;
    cursor: pointer;
    color: white;
    border: 0;
    top: 50%;
    margin-top: -10px;
    font-size: 16px; }
  .top-bar__side--left {
    left: 15px; }
  .top-bar__side--right {
    right: 15px; }
  .top-bar__add-button {
    font-size: 14px;
    color: #ffffff;
    line-height: 14px;
    height: 35px;
    margin-top: -18px;
    background-color: #8e9e99;
    border-radius: 4px;
    padding-left: 26px;
    padding-right: 9px; }
  .top-bar__add-button::before {
    content: '+';
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 10px; }

.login__error-msg {
  padding-top: 10px;
  color: red; }
.login__error-msg--hidden {
  display: none; }

.registration__error-msg {
  padding-top: 10px;
  color: red; }
.registration__error-msg--hidden {
  display: none; }

.pantry__list-title {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2.24px;
  margin-bottom: 10px; }
.pantry__item {
  position: relative;
  margin-bottom: 20px; }
.pantry__item-img {
  width: 125px;
  height: 80px;
  background-color: #c7d3d0;
  display: inline-block; }
.pantry__item-details {
  position: absolute;
  top: 0;
  left: 134px; }
.pantry__item-name {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.96px;
  margin-top: 3px; }
.pantry__item-expiration {
  font-size: 14px;
  letter-spacing: 1.96px;
  margin-top: 6px; }
.pantry__item-actions {
  margin-top: 10px;
  margin-left: 5px; }
.pantry__item-action {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  cursor: pointer; }

.pantry-item__form-group {
  margin-bottom: 30px; }
.pantry-item__form-label {
  margin-bottom: 10px; }
.pantry-item__form-input {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  margin-top: 5px;
  padding: 8px 10px; }
.pantry-item__form-input--datepicker {
  padding: 0; }
  .pantry-item__form-input--datepicker input {
    margin-top: 4px;
    vertical-align: top;
    width: calc(100% - 40px);
    height: 25px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 5px; }
  .pantry-item__form-input--datepicker button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    background: transparent;
    border: 0;
    outline: 0; }
    .pantry-item__form-input--datepicker button img {
      width: 25px;
      height: 25px;
      margin-top: 3px; }

.pantry-page-container {
  position: relative;
  height: 100%; }

.my-recipe__ingredients {
  margin-bottom: 30px; }
.my-recipe__preparation-textarea {
  display: block;
  width: 100%; }

.recipes-list__title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px; }

.recipe-item {
  background-color: #c7d3d0;
  height: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer; }
  .recipe-item__name {
    background-color: #6d7977;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 12px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 500; }

.view-recipe__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px; }
.view-recipe__img-container {
  width: 100%;
  height: 210px;
  background-color: #c7d3d0;
  margin-bottom: 16px; }
.view-recipe__ingredients {
  margin-bottom: 20px; }
.view-recipe__ingredients-list {
  list-style-type: square;
  padding-left: 20px; }
.view-recipe__ingredients, .view-recipe__preparation {
  font-size: 14px; }
.view-recipe__ingredients-title, .view-recipe__preparation-title {
  font-weight: 900;
  margin-bottom: 5px; }

.ingredients__item {
  display: flex; }
.ingredients__remove-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer; }
.ingredients__remove-button--not-visible {
  visibility: hidden; }

/*# sourceMappingURL=App.css.map */
