@{
    Layout = null;
}

<html>
<head>
    <title>FoodPlan App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Styles/board-style.css">
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/board-script.js"></script>
</head>
<body>
<h2>FoodPlan App</h2>
<div class="days-board">
    <div class="day-card">
        <div class="day-card__header">Sunday</div>
        <div class="day-card__body">
            <div class="day-card__event">
                <div class="day-card__event-name">Breakfast</div>
                <div class="day-card__food-item">Fruits and cereals</div>
            </div>
            <div class="day-card__event">
                <div class="day-card__event-name">Lunch</div>
                <div class="day-card__food-item">Cheese and tomatoes</div>
            </div>
            <div class="day-card__event">
                <div class="day-card__event-name">Dinner</div>
                <div class="day-card__food-item">Avocado</div>
            </div>
            <div class="day-card__event">
                <div class="day-card__event-name">Cook</div>
                <div class="day-card__food-item">Soup</div>
                <div class="day-card__food-item">Hummus</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>