@{
    Layout = null;
}

<html>
<head>
    <title>FoodPlan App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Styles/board-style.css">
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="/Scripts/foodplan-board-app.js"></script>
</head>
<body ng-app="foodplanBoardApp">
<h2>FoodPlan App</h2>
<div class="days-board" ng-controller="BoardController" ng-style="styleForBoard">
    <h3> Board: {{board.title}} </h3>
    <p>My paragraph here: {{styleForBoard.width}} </p>
    <button ng-click="changeBoard()"> Change category title </button>

    <div class="day-card" ng-repeat="day in board.days">
        <div class="day-card__header"> {{day.date | date: "EEEE"}} </div>
        <div class="day-card__body">
            <div class="day-card__category" ng-repeat="category in day.categories">
                <div class="day-card__category-name"> {{category.title}} </div>
                <div class="day-card__item" ng-repeat="item in category.items"> {{item.title}} </div>
            </div>
            <div class="day-card__add-category" ng-click="addCategory(day.id)">
                Add category...
            </div>
        </div>

    </div>
</div>
</body>
</html>